.navbar-brand {
  svg {
    width: auto;
  }
}

#td-cover-block-0 {
  background-color: transparent;
}

#home-title {
  font-family: sans-serif;
  font-weight: 900;
}

#home-background {
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  background: radial-gradient(#00196e, #000516);
  overflow: hidden;
}

.td-page-meta__child {
  display: none;
}
